/*@media only screen and (max-width:640px)*/
body {
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}
body, button, input, select, textarea {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga","kern";
}
body {
    margin: 0;
    background: #fff;
    font-family: "Segoe UI","Lucida Grande",Helvetica,Arial,"Microsoft YaHei",FreeSans,Arimo,"Droid Sans","wenquanyi micro hei","Hiragino Sans GB","Hiragino Sans GB W3",FontAwesome,sans-serif;
    color: #333;
}
body, pre {
    line-height: 1.6;
}

html, body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, pre, form, p, blockquote, input, textarea, abbr, article, aside, figcaption, figure, footer, header, mark, meter, menu, nav, output, progress, section, summary, time {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

.regTop{
    width: 100%;
    padding:8% 0 6%;
    background: #50b4f9;
    text-align: center;
    color: #ffffff;
    position: relative;
}
.back{
    position: absolute;
    left: 5%;
    top: 50%;
    color: #ffffff;
}
a {
    background: transparent;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    color: #666666;
    text-decoration: none;
/*  color: #007aff;*/
}

section.info_content {
    width: 94%;
    margin: 0 auto;
}
article, aside, footer, header, hgroup, nav, section, figure, figcaption {
    display: block;
}
section.info_content h1 {
    font-size: 20px;
    font-weight: normal;
    text-align: center;
}
.mt10 {
    margin-top: 10px;
    padding: 0 20px;
}
section.info_content p.from {
    color: #999999;
    text-align: center;
    padding: 5px 0 10px 0;
    border-bottom: 1px solid #999999;
}
section.info_content div.cons p.wenzi {
    text-indent: 2em;
}
section.info_content div.cons p {
    margin-bottom: 10px;
}
.t-center {
    text-align: center;
}
section.info_content div.cons p img {
    max-width: 80%;
    text-align: center;
}
iframe, a, img, button {
    border: 0;
}

#content{
    padding: 0 15px;
}

.pet_comment_list {
    width: 100%;
    padding-top: 20px;
}
*, ::after, ::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.pet_comment_list_wap {
    background: #fff;
    padding: 18px;
    position: relative;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.05);
}
.pet_comment_list_title {
    position: relative;
    font-weight: bold;
    color: #222;
    font-size: 16px;
    width: 100%;
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 15px;
    margin-bottom: 5px;
}
.pet_comment_list_tab {
    margin: 0;
}
[data-am-widget=tabs] {
    margin: 10px;
}
.pet_comment_list_wap .am-tabs-default .am-tabs-nav {
    padding: 0 10px;
    background: none;
    border-radius: 20px;
    width: 140px;
    height: 30px;
    border: 1px solid #f1f1f1;
}
.am-tabs-default .am-tabs-nav {
    line-height: 40px;
    background-color: #eee;
}
[data-am-widget=tabs] .am-tabs-nav {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.pet_comment_list_title_tab {
    position: absolute;
    display: inline-block;
    float: right;
    right: 18px;
    top: 16px;
}
ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}
ol, ul {
    padding-left: 2em;
}
address, blockquote, dl, fieldset, figure, hr, ol, p, pre, ul {
    margin: 0 0 1.6rem;
}
.pet_comment_list_wap .am-tabs-default .am-tabs-nav li {
    padding-top: 6px;
}
[data-am-widget=tabs] .am-tabs-nav li {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.pet_comment_list_wap .am-tabs-default .am-tabs-nav > .am-active a {
    padding: 0 5px;
    background: none;
    color: #979797;
    height: 16px;
    line-height: 16px;
    font-size: 12px;
}
.pet_comment_list_wap .am-tabs-default .am-tabs-nav a {
    padding: 0 5px;
    border-right: 1px solid #f1f1f1;
    background: none;
    color: #cacaca;
    height: 16px;
    line-height: 16px;
    font-size: 12px;
}
.am-tabs-default .am-tabs-nav > .am-active a {
    background-color: #0e90d2;
    color: #fff;
}
.am-tabs-default .am-tabs-nav a {
    color: #222;
    line-height: 42px;
}
[data-am-widget=tabs] .am-tabs-nav a {
    display: block;
    word-wrap: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
a, ins {
    text-decoration: none;
}
a {
    background-color: transparent;
    color: #0e90d2;
}
.pet_comment_list_wap .am-tabs-default .am-tabs-nav li:last-child a {
    border: none;
}
.pet_comment_list_tab .am-tabs-bd {
    border: none;
}
.am-tabs-bd {
    position: relative;
    overflow: hidden;
    border: 1px solid #ddd;
    border-top: none;
    z-index: 100;
    -webkit-transition: height .3s;
    transition: height .3s;
}
.am-tabs-bd .am-tab-panel.am-active {
    position: relative;
    z-index: 100;
    visibility: visible;
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0);
    transform: translateX(0px);
}
.pet_comment_list_tab .am-tab-panel {
    padding: 0;
}
.am-tabs-bd .am-tab-panel {
    position: absolute;
    top: 0px;
    z-index: 99;
    float: left;
    width: 100%;
    padding: 10px 10px 15px;
    visibility: hidden;
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
}
.am-tabs-bd .am-tab-panel * {
    -webkit-user-drag: none;
}
.pet_comment_list_block {
    width: 100%;
    padding: 15px 0;
    border-bottom: 1px solid #f1f1f1;
    overflow: hidden;
}
.pet_comment_list_block_l {
    width: 50px;
    height: 50px;
    float: left;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}
.pet_comment_list_block_l img {
    width: 100%;
}
img {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.pet_comment_list_block_r {
    position: relative;
    margin-left: 65px;
}
.pet_comment_list_block_r_info {
    color: #222;
    font-size: 18px;
}
.pet_comment_list_block_r_text {
    color: #222;
    font-size: 14px;
}
.pet_comment_list_block_r_bottom {
    font-size: 14px;
    color: #757575;
    padding-top: 5px;
}
.pet_comment_list_bottom_info_l {
    position: relative;
    float: left;
}
.pet_comment_list_bottom_info_r {
    position: relative;
    text-align: right;
}
.pet_comment_list_bottom_info_r span {
    display: inline-block;
    padding-right: 8px;
    padding-left: 3px;
}
.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
